@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Lora");

@font-face {
  font-family: Cabin;
  src: url("https://fonts.googleapis.com/css?family=Cabin");
}
@font-face {
  font-family: Lora;
  src: url("https://fonts.googleapis.com/css?family=Lora");
}
